@import '../../index.scss';
@import "../../Assets/scss/utility/mixins.scss";


.progressWrapper{
    width:  100%;
    padding: 5px;
    opacity: 80%;
    @include flexProperty(space-between,center);

    @include for-tablet-landscape-up{
        height: 125px;
    }
    @include for-tablet-portrait-up{
        height: 90px;
    }
    @include for-phone-only{
        height: 95px;
    }
    &__img{
        height: 85%;
        padding: 5px;
        @include for-phone-only{
            height:65%;
        }
    }
    &__bar{
        width: 100%;
        height: 40%;
        background-color: #272626;
    }
}

.progress {
    height: 100%;
    background-color: $primaryLightGreen;
}

@media screen and (min-width:768px) and (max-width: 1023px) {
    .icons{
        height: 50px;
        width:80%;
        margin-bottom:25px;
    }
    .icons img{
        height: 60px;
    }
}

@media screen and (max-width:767px){
    .icons{
        height: 100px;
        width:100%;
        @include flexProperty(center,center);
        img {
            height:50px;
        }
    }
    .bar{
        width: 100%;
    }

}
