@import "../index.scss";
@import "../Assets//SCSS/Components/Button.module.scss";

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  list-style-type: none;
}

.Button {
  &--navModif {
    @extend .Button;
    border-radius: 0 0 5px 5px;
    border-width: 0 1px 3px 1px;
    border-color: $primaryDarkerGreen;
    border-style: solid;
    @include for-tablet-landscape-up {
      font-size: 1em;
    }
  }
}

.navButtons {
  margin-top: -5px;
  text-align: center;
  @include for-phone-only {
    font-size: 1.5em;
  }
  @include for-tablet-portrait-up {
    font-size: 1.3em;
  }
  @include for-tablet-landscape-up {
    font-size: 1.7em;
  }
}
