@import "../index.scss";
@import "../Background/Background.module.scss";
@import "../Assets/scss/utility/mixins.scss";
@import "../Assets/scss/Components/Button.module.scss";

.Button {
  &--moreInfo {
    @extend .Button;
    font-size: 1em;
    margin-bottom: 10px;
  }
}

.skillSection {
  width: 100%;
  min-width: 80vw;
  height: max-content;
  @include flexProperty(center, center);
  flex-direction: column;
  padding: 15px;
  @include for-phone-only {
    padding: 5px;
  }
  &__mainWrapper {
    @include flexProperty(space-between);
    width: 90%;
    max-width: 1000px;
    @include for-phone-only {
      @include flexProperty(space-between, center);
      flex-direction: column;
    }
  }
  &__name {
    margin-bottom: 25px;
    color: $primaryLightGreen;
    font-size: 2em;
    font-family: PIXEL;
    letter-spacing: 11px;
    text-align: center;
  }
}

.profileWrapper {
  @include flexProperty(center, center);
  flex-direction: column;
  padding: 25px;
  margin-right: 10px;
  @include for-phone-only {
    padding: 0;
    margin: 0;
  }
  &__img {
    border: $primaryLightGreen 3px solid;
    border-radius: 5px;
    height: 80%;
    opacity: 70%;
    width: 100%;
    max-width: 250px;
    padding: 0;
    object-fit: cover;
    @include for-phone-only {
      height: 50%;
      width: 50%;
    }
  }
  &__lvl {
    font-family: PIXEL;
    color: $primaryLightGreen;
    padding: 15px;
    font-size: 2em;
  }
}

.list {
  flex: 50%;
  @include for-phone-only {
    width: 80%;
  }
  ul {
    list-style-type: none;
    padding-right: 10px;
  }
}
