@import "../index.scss";
@import "../Background/Background.module.scss";


.positionFlex {
  @include flexProperty(space-around);
  padding: 15px;
}

.profilePicture {
  @include flexProperty(center, center);
  flex: 30%;
  flex-direction: column;

  img {
    border: $primaryLightGreen 3px solid;
    border-radius: 5px;
    height: 50%;
    opacity: 70%;
    width: 100%;
    max-width: 250px;
    max-height: 350px;
    padding: 0;
    object-fit: cover;
  }
  p {
    font-family: PIXEL;
    color: $primaryLightGreen;
    padding: 15px;
    font-size: 5vw;
  }
}

.list {
  flex: 50%;
  ul {
    list-style-type: none;
    padding-right: 10px;
    li {
      @include flexProperty(center, center);
    }
  }
  h2 {
    margin-left: 3px;
    color: $primaryLightGreen;
    font-size: 6vw;
    font-family: PIXEL;
    letter-spacing: 11px;
    width: max-content;
  }
}
.binary {
  font-family: PIXEL;
  flex: 15%;
  @include flexProperty($column: center);
  p {
    color: white;
    height: max-content;
    text-align: center;
    opacity: 50%;
    overflow-wrap: break-word;
    width: 200px;
  }
}

.nextSection {
  @include flexProperty(center);
  button {
    font-size: 2em;
    background-color: #272626;
    border: $primaryLightGreen 1px solid;
    border-radius: 5px;
    color: $goldTxt;
    letter-spacing: 3px;
    padding: 10px;
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .profilePicture {
    img {
      margin-top: 15%;
      opacity: 70%;
      width: 15vw;
      min-width: 140px;
    }
  }
  .list {
    h2 {
      margin: 10px;
      letter-spacing: 5px;
    }
  }
  .backgroundStyle {
    margin: 1rem;
    padding: 1rem;
    height: max-content;
  }
  .nextSection {
    margin: 1rem;
    button {
      font-size: 1.5em;
    }
  }
  .binary {
    p {
      font-size: 1em;
    }
  }
}

@media screen and (max-width: 767px) {
  .profilePicture {
    img {
      opacity: 70%;
      margin-top: 25%;
      width: 120px;
    }
  }

  .backgroundStyle {
    margin: 0.5rem;
    padding: 0.5rem;
    height: max-content;
  }
  .nextSection {
    margin: 1rem;
  }
  .positionFlex {
    @include flexProperty(space-between);
    width: 70%;
  }
  .list {
      width: 80%;
    h2 {
      height: max-content;
      letter-spacing: 4px;
      margin-left: -30px;
    }
  }
  .nextSection {
    button {
      font-size: 1em;
    }
  }
}
