@import "../../Assets/SCSS/utility/Variables.scss";
@import "../../Assets/SCSS/utility/mixins.scss";
@import "../../Assets//SCSS/Components/Button.module.scss";

.Button {
  &--modifyByLink {
    @extend .Button;
    text-decoration: none;
    margin: 5px;
  }
}

.singleProject {
  padding: 15px;
  &__tittle {
    color: $primaryLightGreen;
    font-family: PIXEL;
    font-size: 3rem;
    text-align: center;
    padding: 25px;
    @include for-phone-only {
      font-size: 1.5em;
    }
  }
  &__img {
    padding: 10px;
    height: 25%;

    object-fit: scale-down;
    @include for-tablet-landscape-up {
      width: 15%;
    }
    @include for-tablet-portrait-up {
      width: 30%;
    }
    @include for-phone-only {
      width: 50%;
    }
  }
  &__links {    
    @include flexProperty(flex-end);
    @include for-phone-only{
        @include flexProperty(center);
    }
  }
}

.content {
  display: flex;
  align-items: center;
  
  @include for-phone-only {
    flex-direction: column;
  }
  &__description {
    font-family: PIXEL;
    color: white;
    text-align: center;
    font-size: 1.2rem;
    padding: 15px;
    overflow-wrap: break-word;
    @include for-phone-only {
      font-size: 0.8rem;
      width: 100%;
    }
  }
}
