@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


@font-face {
    font-family: PIXEL;
    src: local('PIXEL'), url(./Assets/Fonts/PIXEL.ttf) format('truetype');
}

body {
    font-family:  Bebas Neue , sans-serif;
    
}